<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= Money.new(book.price, "INR").format(south_asian_number_formatting: true) %>
  </p>


</div>
